{:duct.profile/base
 {:duct.core/project-ns mt2

  :duct.server.http/http-kit {:port 3040}

  ; :duct.handler/root
  ; {:middleware [#ig/ref :ring.middleware.defaults/wrap-defaults]}
  ; :ring.middleware.defaults/wrap-defaults {}

  ;; FIXME: mt2.handler.mt2 よりも mt2.handler.server だったな。
  ;;        そうすると duct.module/cljs の server.client が変か。
  :duct.router/ataraxy
  {:routes {[:get "/example"] [:mt2.handler/example] ; no use
            [:get "/"]        [:mt2.handler.mt2/index]
            [:get  "/chsk"]   [:mt2.handler.mt2/get-chsk]
            [:post "/chsk"]   [:mt2.handler.mt2/post-chsk]}}

  :mt2.handler/example {}
  :mt2.handler.mt2/index {}
  :mt2.handler.mt2/get-chsk {}
  :mt2.handler.mt2/post-chsk {}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module/cljs {:main mt2.client}
 :duct.module.web/site {}}
