{:duct.profile/base
 {:duct.core/project-ns mt2

  :duct.server.http/http-kit {:port 3040}

  :duct.router/ataraxy
  {:routes {[:get  "/"] ^:auth [:mt2.handler.mt2/index]
            [:get  "/chsk"] [:mt2.handler.mt2/get-chsk]
            [:post "/chsk"] [:mt2.handler.mt2/post-chsk]
            [:get  "/reload"]  [:mt2.handler.mt2/reload]}

   :middleware {:auth #ig/ref :mt2.middleware/httpbasic}}

  :mt2.middleware/httpbasic {}

  :mt2.handler.mt2/index  {}
  :mt2.handler.mt2/reload {}

  :mt2.handler.mt2/get-chsk {}
  :mt2.handler.mt2/post-chsk {}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module/cljs {:main mt2.client}
 :duct.module.web/site {}}
