{:duct.profile/base
 {:duct.core/project-ns mt2

  :duct.router/ataraxy
  {:routes
   {[:get  "/chsk"]    [:mt2.handler.mt2/get-chsk]
    [:post "/chsk"]    [:mt2.handler.mt2/post-chsk]

    [:get  "/"] ^:auth [:mt2.handler.mt2/index]

    [:get  "/login"]   [:mt2.handler.mt2/login]
    [:post "/login" {params :form-params}]
    [:mt2.handler.mt2/login-post params]
    [:get  "/logout"]  [:mt2.handler.mt2/logout]

    ;; ^:auth 必要か？
    [:get  "/reload"]  [:mt2.handler.mt2/reload]
    [:get  "/reset"]   [:mt2.handler.mt2/reset]
    [:get  "/save"]    [:mt2.handler.mt2/save]

    [:get "/error"] [:mt2.handler.mt2/error]}

   :middleware {:auth #ig/ref :mt2.middleware/auth}}

  :mt2.middleware/auth    {}

  :mt2.handler.mt2/error {}

  :mt2.handler.mt2/login  {}
  :mt2.handler.mt2/login-post  {:db #ig/ref :duct.database/sql}
  :mt2.handler.mt2/logout {}

  :mt2.handler.mt2/index  {}
  :mt2.handler.mt2/reload {}
  :mt2.handler.mt2/reset  {}
  :mt2.handler.mt2/save   {}

  :mt2.handler.mt2/get-chsk  {}
  :mt2.handler.mt2/post-chsk {}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module/cljs {:main mt2.client}
 :duct.module.web/site {}}
